/*
==========================================================================
style.css
==========================================================================
*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.container {
  width:100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  background-color: #f7f7f7;
}


html, body, div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-left: 0! important;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

li  {
  display: block;
  text-decoration: none !important;
  font-weight: 200;
  width:auto;
}

/*
==========================================================================
Header
==========================================================================
*/

.header {
  width: 100%;
  height:30px;
  background-color: #f7f7f7;
  border-bottom:1px solid rgba(0, 0, 0, .08);
  background-color:#F07869;
}


.header-name {
  width:150px;
  height:auto;
  text-align: center;
  padding:5px !important;
  margin-left:20px;
  color:white;
/*  color:#F07869;*/
}


/*
==========================================================================
Navigation
==========================================================================
*/

.navigation {
  padding-right: 0 !important;
  border-right:1px solid rgba(0, 0, 0, .08);
  background-color: white;
}

ul {
  list-style-type: none;
  width:auto;
  margin-top: 20px !important;
  padding: 0 !important;
  text-align: center;
 /* background-color: #eee;*/
}

li a {
  display: block;
  padding:8px 16px;
  text-decoration: none !important;
  font-weight: 200;
  color:grey;
  cursor: pointer;
}

li img {
  position: relative;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 1px solid rgba(0, 0, 0, .08);
}

li a:hover {
  color:#F07869;
}

#home-open {
  color:#F07869;;
}

#prof-name {
  color:black;
}

#nav-arrow {
  font-size: 15px;
  margin-left: 5px;
  color:grey;
}

.user-active {
    width: 14px;
    height: 14px;
    background-color: #39FF14;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .08);
    position: absolute;
    top: 14%;
    left: 57.5%;
}

#nav-profile-name a{
  font-weight: 700;
  font-size:16px;
  font-family: sans-serif;
}

i.fa.fa-home, i.fa-comments, i.fa.fa-heart, i.fa.fa-cog{
  float:left;
  margin-left: 10%;
  font-size: 15px;
}


/*
==========================================================================
Display
==========================================================================
*/

.display {
  padding-left: 0 !important;
  padding-right: 0 !important;
 /* background: url("../images/display_bg.jpg");*/
/*  background-size: cover;*/
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.display-info {
  display: block;
  margin-top: 30px !important;
  margin-left: 12%;
  width: 80%;
  height: 100%;
  color:grey;
/*  border: 1px solid rgba(0, 0, 0, .08);*/
}

.display-container {
  border-left: 1px solid rgba(0, 0, 0, .08);
  border-right: 1px solid rgba(0, 0, 0, .08);
  height:auto;
}

#display-title {
  padding:8px 16px;
  top:10% !important;
  height:auto;
  width: auto;
  font-size:14px;
  color:black;
  font-weight: 700;
  text-align: center;
}

.display-content {
  position: relative;
  width:auto;
  height:200px;
  /*background-color: lightyellow;*/
}

#restaurant-image {
  display: block;
  width: auto;
  height:200px;
  word-wrap: break-word;
  background-image: url("../images/display_bg.jpg");
  background-size: cover;
}

#restaurant-image:after {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.restaurant-name {
  padding:5px 0px 0px 10px !important;
  margin:0 !important;
  width: auto;
  height:auto;
  font-weight: 700;
  font-size: 20px;
  color:black;
  z-index: 99999;
  font-family: "Helvetica";
}

.restaurant-name p {
  margin-bottom:0 !important;
}


.restaurant-info{
  display: block;
  padding:5px 0px 0px 10px !important;
  width: 100%;
  height:auto;
  word-wrap: break-word;
  z-index: 99999;
  font-family: "Helvetica";
}

.restaurant-info li {
  font-size: 14px;
  margin: 8px 5px !important;
}

.restaurant-reserve i {
  margin: 5px 5px !important;
}


#reserve, #share {
  width:120px;
  text-align: center;
}

#reserve {
  margin-left: 10px;
  text-align: center;
}

.restaurant-reserve {
  text-align: center;
}
.restaurant-reserve li{
  display: inline-table;
  vertical-align: middle;
  margin: 10px !important;
  padding:0 !important;
  width:200px;
  font-size: 14px;
  font-family: Helvetica !important;
  text-align: center;
  border:1px solid rgba(0, 0, 0, .08);
}

.display-save {
  width: auto;
  height:auto;
  border:1px solid rgba(0, 0, 0, .08);
}

#saveButton {
  float:right;
  padding:8px 16px;
  height:80%;
  font-weight: 500;
  border:none;
  color:white;
  cursor: pointer;
  background-color: #F07869;
}


i.fa.fa-cutlery, i.fa.fa-map-marker, i.fa.fa-phone, i.fa.fa-info-circle {
  color:#51AC9D;
}
/*
==========================================================================
Favorites
==========================================================================
*/

.savedRestaurant {
    border-bottom :1px solid rgba(0, 0, 0, .08);
}

#favorites {
  display:none;
  width:100%;
  height:100%;
  overflow: scroll !important;
}

.favorites-title {
  padding:8px;
  margin-left: 10px;
  width:auto;
  height:auto;
  font-weight: 700;
  font-size: 20px;
  color:#F07869;
}

.restaurants {
  margin: 0 !important;
  position: relative;
  width:100%;
  height:auto;
  border-bottom :1px solid rgba(0, 0, 0, .08);
  background-color: white;
}

#fav-image {
  display: inline-block;
  margin:10px;
  width:125px;
  height:125px;
  background-image: url("https://gyozabar.ca/wp-content/uploads/2015/03/IMG_8531-2-1030x687.jpg");
  background-size: cover;
}

#fav-name {
  display: inline-block;
  position: absolute;
  padding:8px;
  width:auto;
  height:auto;
  font-size: 20px;
  font-weight: 700;
}

#fav-action {
  display: inline;
  position: absolute;
  padding: 8px;
  top:40px;
  width:auto;
  height:auto;
  /*background-color: lightyellow;*/
  cursor: pointer;
}

#fav-action i, {
  padding: 8px;
}

#fav-info i {
  padding-right: 10px;
  color:grey;
}

#fav-info {
  display: inline;
  position: absolute;
  width:100%;
  bottom:20%;
  height:auto;
}

#fav-address i, #fav-phone i, #fav-web i{
  color: #51AC9D;
}


/*
==========================================================================
Message
==========================================================================
*/

#chat-screen {
  display: block;
  margin-top: 20px !important;
  height: calc(100% - 10px);
  /*margin-top: 30px;*/
  overflow: hidden;
  background-color: #f7f7f7;
}

.heading {
  padding: 10px 16px 10px 16px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
}

/*.heading-avatar-icon img,*/ .bot-icon {
  vertical-align: inherit;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.heading-name a {
  display: block;
  padding:8px 16px;
  text-align: center;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 600;
  color:black;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.message {
  padding: 0 !important;
  margin: 0 !important;
  background-size: cover;
  overflow:hidden !important;
  border: 1px solid #f7f7f7;
  height: calc(100% - 100px);
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.message-main-receiver {
  padding: 3px 10px !important;
  margin-right: 15%;
  max-width: 80%;
}

.message-main-sender {
  padding: 3px 5px !important;
  margin-left:15%;
  max-width: 80%;
}

.message-text {
  position: relative;
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 12px;
  padding-bottom: 0 !important;
}

.time-sender {
  display: inline-block;
  width:40px;
  float:right;
}

.message-date-sender {
  display:table;
  margin:0 !important;
  width: auto !important;
  font-size: 10px;
  color: #9a9a9a;
}

.message-time-sender {
  display: table;
  width: auto !important;
  font-size: 10px;
  color: #9a9a9a;
}

.time-receiver {
  display: inline-block;
  width:40px;
}

.message-date-receiver {
  display:table;
  margin:0 !important;
  width: auto !important;
  font-size: 11px;
  color: #9a9a9a;
}
.message-time-receiver {
  display: table;
  width: auto !important;
  font-size: 10px;
  color: #9a9a9a;
}

.receiver {
  display: inline-block;
  padding: 4px 10px 7px !important;
  width: auto !important;
  border-radius: 15px 15px 15px 0;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  background: #ffffff;
}

.sender {
  display: inline-block;
  float:right  !important;
  padding: 4px 10px 7px !important;
  width: auto !important;
  border-radius: 15px 15px 0 15px;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  color:white;
  background: #F07869;
}


/*Reply*/

.reply {
  height: 55px;
  width: 100%;
 /* background-color: #f5f1ee;*/
  background-color: #E0E0E1;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}

.reply-recording {
  padding: 5px !important;
  text-align: center;
}

.reply-recording i {
  text-align: center;
  padding:0 !important;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px !important;
  text-align: center;
}

.reply-send i {
  text-align: center;
  padding: 0 !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  box-shadow: none;
  height: 100%;
  font-size: 12px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

